:root {
    --additional-fresh-mint: #7DDACF;
    --additional-purple: #9DADF2;
    --main-blue: #478BF9;
    /* Main/Blue Hover */
    --main-navy-blue: #110A1D;
    --main-clean-white: #FFFFFF;
    --main-deep-blue: #1E1231;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--main-navy-blue);
    color: var(--main-clean-white, #FFF);

    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-clean-white);
    cursor: pointer;
    transition: all 0.3s;
}

a:hover {
    opacity: 0.6;
}

h1,
h4,
h6,
p {
    margin: 0;
    padding: 0;
}

/* backgroung items img */
.icon-m-white {
    background-image: url(./assets/icons/M_white.svg)
}

.icon-m-green {
    background-image: url(./assets/icons/M_green.svg)
}

.icon-m-blue {
    background-image: url(./assets/icons/M_blue.svg)
}

.icon-crown {
    background-image: url(./assets/icons/Crown.svg)
}

.icon-S {
    background-image: url(./assets/icons/$.svg)
}

/* .icon-planet{
    background-image: url(./assets/icons/Planet.svg)
} */
.icon-shield {
    background-image: url(./assets/icons/Shield.svg)
}

.icon-soccer {
    background-image: url(./assets/icons/Soccer.svg)
}

.icon-soccer-purple {
    background-image: url(./assets/icons/adaptive/Soccer_1.svg)
}

.icon-timer {
    background-image: url(./assets/icons/Timer.svg)
}

.icon-world {
    background-image: url(./assets/icons/World.svg)
}

@media(max-width: 1024px) {

    .icon-S {
        background-image: url(./assets/icons/adaptive/$.svg)
    }

    .icon-planet {
        background-image: url(./assets/icons/adaptive/pl.svg)
    }

    .icon-world {
        background-image: url(./assets/icons/adaptive/World.svg)
    }

}

/* backgroung items img */


button {
    font-family: 'Lexend', sans-serif;
    color: var(--main-clean-white);
}

.button {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 2px solid var(--additional-purple, #9DADF2);
    background: transparent;
}

.header {
    box-sizing: border-box;
    max-width: 1536px;
    width: 100%;
    height: 96px;
    padding: 24px 50px;
    margin: 16px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 64px;
    border: 4px solid var(--main-blue);
    background: var(--main-navy-blue);
}

.logo {
    width: 287px;
    height: 32px;
    flex-shrink: 0;
}

.menu {
    margin: 0 40px 0 0;
}

.menu ul {
    display: flex;
    column-gap: 32px;
}

.header-buttons {
    display: flex;
    column-gap: 10px;
    margin: 0 -8px 0 0;
}

.signin {
    background-color: var(--main-blue);
}

.main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
}

.title-container {
    display: flex;
    max-width: 669px;
    margin: 304px 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    font-style: normal;
    font-weight: 500;
}

.title-button {
    display: flex;
    padding: 20px 72px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    border: none;
    color: var(--main-clean-white);
    background: var(--main-blue, #478BF9);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
}

h1 {
    font-size: 96px;
    line-height: 96px;
}

h1 span {
    color: var(--main-blue, #478BF9);
    font-size: 96px;
    line-height: 96px;
}

h4 {
    font-size: 32px;
    line-height: 32px;
    opacity: 0.6;
    margin-bottom: 24px;
}

.blog-container {
    display: flex;
    width: 531px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 150px 0 0;
}

.blog-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.blog-content {
    height: 545px;
    align-self: stretch;
    border-radius: 100px;
    border: 3px solid var(--main-blue, #478BF9);
    background: rgba(255, 255, 255, 0.12);
    padding: 24px 40px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: scroll;
    /* backdrop-filter: blur(10px); */
}

.blog-item {
    display: flex;
    flex-shrink: 0;
    padding: 16px 64px;
    height: 114px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 196px;
    background: var(--main-deep-blue, #1E1231);
}

.blog-item.active {
    background: var(--main-blue, #478BF9);
}

.banner-bg {
    position: relative;
    overflow: hidden;
    display: flex;
    column-gap: 18px;
    height: 1153px;
}

.line-items {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 100px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 27px 0 0;
    gap: 27px;
    transition: all 0.1s ease-in-out;
}

.item div {
    height: 100px;
    width: 100px;
}

.item div.icon-S,
.item div.icon-world,
.item div.icon-crown-L {
    height: 221px;
}

.marquee {
    animation: scroll 10s linear infinite;
}

.reverce {
    animation-direction: reverse;
}

@keyframes scroll {
    from {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes scrollHorizontal {
    from {
        transform: translateZ(0);
    }

    to {
        transform: translate3d(-25%, 0, 0);
    }
}

.footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    padding: 40px 140px 24px 140px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 64px 64px 0px 0px;
    border-top: 4px solid var(--main-blue, #478BF9);
    border-right: 4px solid var(--main-blue, #478BF9);
    border-left: 4px solid var(--main-blue, #478BF9);
    background: transparent
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-nav,
.socials ul {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
}

.socials ul {
    gap: 8px;
    margin: 15px 0;
}

.socials ul li {
    width: 32px;
    height: 32px;
    background-image: url(./assets/icons/socials/BG\ Vector.svg);
}

.socials ul li img {
    width: 16px;
    height: 16px;
    padding: 8px;
}

@media (max-width: 1880px) {
    .main {
        width: 95%;
    }
}

@media (max-width: 1645px) {

    .title-container {
        width: min-content;
        margin: 50px 0 0;
    }

    .title-button {
        padding: 20px 62px;
    }

    h1,
    h1 span {
        font-size: 66px;
    }

    h4 {
        font-size: 26px;
    }

    .banner-bg {
        margin: 0 10px;
        flex-shrink: 0;
    }

    .blog-container {
        margin: 40px 0 0;
    }

    .blog-content {
        height: 421px;
    }

    .blog-item {
        height: 94px;
    }

    .footer {
        padding: 40px 30px 24px;

    }

}

@media (max-width: 1366px) {
    .main {
        width: 95%;
    }

    .logo {
        width: 200px;
    }

    .menu {
        text-align: center;
    }

    .menu ul {
        column-gap: 20px;
    }

    .button {
        padding: 8px;
        font-size: 14px;
    }

    h1,
    h1 span {
        font-size: 50px;
        line-height: 50px;
    }

    h4 {
        font-size: 22px;
    }

    .title-button {
        font-size: 20px;
        line-height: 26px;
        padding: 16px 32px;
    }

    .banner-bg {
        column-gap: 10px;
    }

    .line-items {
        width: 80px;
    }

    .item div {
        height: 80px;
        width: 80px;
        background-repeat: no-repeat;
        background-size: contain;
    }


    .footer {
        padding: 24px 30px;
        height: 100px;
    }
}

@media (max-width: 1024px) {
    .main {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    body {
        height: 1438px;
    }

    .main {
        box-sizing: border-box;
        margin: 0 10px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: flex;
        min-width: 300px;
        width: -webkit-fill-available;
        padding: 10px 14px;
        justify-content: space-between;
        align-items: center;
        border-width: 2px;
        margin: 8px 10px 0;
    }


    .title-container {
        margin: 70px 0 0;
    }

    h1,
    h1 span {
        text-align: center;

        font-size: 46px;
        font-weight: 500;
        line-height: 50px;
    }

    h4 {
        text-align: center;
        font-size: 20px;
        line-height: 26px;
    }

    .title-button {
        width: 300px;
        padding: 15px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    /* .banner-bg {
        transform: rotate(90deg);
        height: 100vw;
    } */

    .banner-bg {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .line-items {
        width: 100%;
        flex-direction: row;
    }

    .item {
        flex-direction: row;
    }

    .item div.icon-S,
    .item div.icon-world,
    .item div.icon-crown-L {
        width: 180px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .blog-container {
        width: auto;
        min-width: 300px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 35px 10px 0;
    }

    .blog-content {
        padding: 10px 16px 10px 10px;
        border-radius: 50px;
    }

    .blog-item {
        border-radius: 40px;
        padding: 15px 35px;
        font-size: 16px;
        line-height: 20px;
    }

    .footer {
        position: static;
        min-width: 320px;
        height: 235px;
        padding: 20px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        margin: 174px 0 0;
    }

    .socials ul {
        margin: 15px 0 0;
    }

    .socials ul li {
        width: 27px;
        height: 27px;
        background-size: contain;
    }

    .socials ul li img {
        width: 13.5px;
        height: 13.5px;
        padding: 6.75px;
    }

    .marquee {
        animation: scrollHorizontal 10s linear infinite;
    }

}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .header-buttons:nth-child(2),
    .header-buttons:nth-child(3) {
        display: none;
    }

    .item div {
        height: 50px;
        width: 50px;
    }

    .item div.icon-S,
    .item div.icon-world,
    .item div.icon-crown-L {
        width: 110px;
        height: 50px;
    }

    .footer-nav {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
    }
}

@media(max-width: 420px) {

    h4 {
        margin-bottom: 0;
    }

    .blog-container {
        width: auto;
        min-width: 300px;
        height: 421px;
        gap: 18px;
        margin: 30px 10px 0;
    }

    .blog-item {
        display: flex;
        padding: 15px 35px;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 40px;
    }
    .footer,
    .socials{
        align-items: flex-start;
    }
}