:root {
    --additional-fresh-mint: #7DDACF;
    --additional-purple: #9DADF2;
    --main-blue: #478BF9;
    /* Main/Blue Hover */
    --main-navy-blue: #110A1D;
    --main-clean-white: #FFFFFF;
    --main-deep-blue: #1E1231;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--main-navy-blue);
    color: var(--main-clean-white, #FFF);

    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h4,
h6 {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Lexend', sans-serif;
    color: var(--main-clean-white);
}

.button {
    display: flex;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 24px;
    border: 2px solid var(--additional-purple, #9DADF2);
    background: transparent;
}

.header {
    max-width: 1536px;
    width: 100%;
    height: 40px;
    padding: 24px 50px;
    margin: 16px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 64px;
    border: 4px solid var(--main-blue);
    background: var(--main-navy-blue);
}

.logo {
    width: 287px;
    height: 32px;
    flex-shrink: 0;
}

.menu {
    margin: 0 40px 0 0;
}

.menu ul {
    display: flex;
    column-gap: 32px;
}

.header-buttons {
    display: flex;
    column-gap: 10px;
    margin: 0 -8px 0 0;
}

.signin {
    background-color: var(--main-blue);
}

.main {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 8px 140px 58px;
}

.title-container {
    display: flex;
    width: 669px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    font-style: normal;
    font-weight: 500;
}

.title-button {
    display: flex;
    padding: 20px 72px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 48px;
    border: none;
    color: var(--main-clean-white);
    background: var(--main-blue, #478BF9);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
}

h1 {
    font-size: 96px;
    line-height: 96px;
}

h1 span {
    color: var(--main-blue, #478BF9);
    font-size: 96px;
    line-height: 96px;
}

h4 {
    font-size: 32px;
    line-height: 32px;
    opacity: 0.6;
    margin-bottom: 24px;
}

.blog-container {
    display: flex;
    width: 531px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.blog-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
}

.blog-content {
    height: 595px;
    align-self: stretch;
    border-radius: 100px;
    border: 3px solid var(--main-blue, #478BF9);
    background: rgba(255, 255, 255, 0.12);
    padding: 24px 40px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: scroll;
    /* backdrop-filter: blur(10px); */
}

.blog-item {
    display: flex;
    flex-shrink: 0;
    padding: 16px 64px;
    height: 114px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 196px;
    background: var(--main-deep-blue, #1E1231);
}

.blog-item.active {
    background: var(--main-blue, #478BF9);
}
.banner-bg{
    position: relative;
    overflow: hidden;
    display: flex;
    column-gap: 18px;
}

.line-items{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 100px;
}
.line-items .item{
        display: flex;
    flex-direction: column;

gap: 27px;    transition: all 0.1s ease-in-out;
}
.marquee {
    animation: scroll 10s linear infinite;
  }
  .reverce{
    animation-direction: reverse;
  }
  @keyframes scroll {
    from {
      transform: translateZ(0);
    }
    to {
      transform: translate3d(0, -25%, 0);
    }
  }

